<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="b48560f0-cde1-4239-a610-f67e1320f964" Alias="Training">
  <Info>
    <Name>Training</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>e5eb7291-3d07-46a4-9a56-1520751b1a52</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>3f618a81-aac5-4ef4-b922-1de891c5e5ad</Id>
        <Name>Send template email to fmtmarques@gmail.com</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "Email": "fmtmarques@gmail.com",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted",
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "HeaderHtml": "",
  "FooterHtml": "",
  "Attachment": "False"
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <Folder></Folder>
    <SubmitLabel>#submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": "",
        "sortOrder": 0,
        "id": "46290d29-403a-409c-bf5e-1f85499ff44d",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "#Forms.Training.Languages",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "languages",
                "id": "042ab69b-d566-4e07-a571-79c851fa25c0",
                "fieldTypeId": "fab43f20-a6bf-11de-a28f-9b5755d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": "#mandatory",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "373e097f-b075-4595-a293-0d2f1708eea4",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "portuguese",
                    "caption": "#portuguese"
                  },
                  {
                    "value": "english",
                    "caption": "#english"
                  },
                  {
                    "value": "french",
                    "caption": "#french"
                  },
                  {
                    "value": "spanish",
                    "caption": "#spanish"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.Location",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "location2",
                "id": "e6a37eea-26a1-4c56-a862-f22e9911f8fc",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": "#mandatory",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "7a4a0ec9-6e31-4061-9afd-6b445cf24bc5",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "online",
                    "caption": "Online"
                  },
                  {
                    "value": "inperson",
                    "caption": "#inperson"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.OnlineOrInPerson",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "location",
                "id": "685e6f6d-16c9-4e93-e135-f3404081c5f2",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "5f0155ee-0ea6-4213-94e1-d907883393b1",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "Any",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "e6a37eea-26a1-4c56-a862-f22e9911f8fc",
                      "operator": "Is",
                      "value": "inperson"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "lisbon",
                    "caption": "#lisbon"
                  },
                  {
                    "value": "oporto",
                    "caption": "#oporto"
                  },
                  {
                    "value": "coimbra",
                    "caption": "Coimbra"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.Age",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "age",
                "id": "0a60e71c-4af2-473c-cd00-a17e2e2f05f6",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "efa37446-36ef-450d-9719-661af0c6cc16",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.Age",
                  "ShowLabel": "False",
                  "MaximumLength": "2",
                  "FieldType": "number",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.Training",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "training",
                "id": "f6b261c3-6f9c-4445-e8bb-b0cf3f0bea26",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "64d9ea5d-5130-406e-b32d-1b2f6f17cb0d",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.Training",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.Employer",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "employer",
                "id": "32420c67-5c8e-4576-a568-02a3eed1e8b1",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8e603e78-d940-4862-a3e5-ff796986a854",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.Employer",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.WhatAreas",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "whatareas",
                "id": "e02f53f1-27a6-4402-a83c-c803b1ecad17",
                "fieldTypeId": "fab43f20-a6bf-11de-a28f-9b5755d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "a68e7a72-9482-428c-8f09-8fcac1d8af7d",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "generalenvironment",
                    "caption": "#generalenvironment"
                  },
                  {
                    "value": "watersupply",
                    "caption": "#watersupply"
                  },
                  {
                    "value": "wastewatersystems",
                    "caption": "#wastewatersystems"
                  },
                  {
                    "value": "solidwaste",
                    "caption": "#solidwaste"
                  },
                  {
                    "value": "otherareas",
                    "caption": "#otherareas"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.AreasOfInterest",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "areasofinterest",
                "id": "d151e516-fc93-454e-c68a-62eabfe88682",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "c35f121d-c18d-4425-a18e-339b0f78b3dc",
                  "enabled": true,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "e02f53f1-27a6-4402-a83c-c803b1ecad17",
                      "operator": "Is",
                      "value": "otherareas"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.AreasOfInterest",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.ExpressionOfInterest",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "expressionofinterest",
                "id": "8c4d175f-122a-4159-d7b3-f9366cbb8277",
                "fieldTypeId": "fab43f20-a6bf-11de-a28f-9b5755d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "b1aca332-ddba-4b9f-9097-ec1771fedb19",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "advancedword",
                    "caption": "#advancedword"
                  },
                  {
                    "value": "advancedexcel",
                    "caption": "#advancedexcel"
                  },
                  {
                    "value": "latex",
                    "caption": "#latex"
                  },
                  {
                    "value": "arduino",
                    "caption": "#arduino"
                  },
                  {
                    "value": "reverseosmosis",
                    "caption": "#reverseosmosis"
                  },
                  {
                    "value": "qualitysimulation",
                    "caption": "#qualitysimulation"
                  },
                  {
                    "value": "epanetmodeling",
                    "caption": "#epanetmodeling"
                  },
                  {
                    "value": "leachate",
                    "caption": "#leachate"
                  },
                  {
                    "value": "environmentalcertification",
                    "caption": "#environmentalcertification"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.CourseSuggestions",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "coursesuggestions",
                "id": "6fada5c9-170e-4281-c671-9f7cbcfea2f7",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "b1852ed8-00e1-444a-b4a0-637caec78962",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.CourseSuggestions",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Forms.Training.Comments",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "comments",
                "id": "a6b37b4a-c881-4ca7-f339-97e188d1cea9",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "6614d4f2-56d2-4c00-864b-f8a4411a41ac",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#Forms.Training.Comments",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "a0debd84-47ad-4610-94c8-8d5d3f2a0509",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>