<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c693bd29-3f99-48a7-915f-b0eaf42b0fb1" Alias="Enterprise" Level="2">
  <Info>
    <Parent>Forms.Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enterprise*</Translation>
    <Translation Language="pt-PT">Empresa/Entidade*</Translation>
  </Translations>
</Dictionary>