<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="749b1a51-99d1-4350-945a-228368f18300" Alias="Forms.Contact.Services.Procurement" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Procurement</Translation>
    <Translation Language="pt-PT">Procurement</Translation>
  </Translations>
</Dictionary>