<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="77aae365-cde3-412f-ab7a-63b9a7eaaf62" Alias="Forms.Contact.Services.EnvironmentalClassificationCertificationEnterprises" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Environmental Classification and Certification of Enterprises</Translation>
    <Translation Language="pt-PT">Classificação e Certificação Ambiental de Empreendimentos</Translation>
  </Translations>
</Dictionary>