<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="647dbdb8-cb95-47cd-a94a-fd446723370d" Alias="Forms.Contact.Services.ProjectReview" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Project Review</Translation>
    <Translation Language="pt-PT">Revisão de Projectos</Translation>
  </Translations>
</Dictionary>