<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f737ef3-a9c0-413d-945c-914658c1e319" Alias="Forms.Contact.Services.PreparationGlobalStudiesProjects" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Preparation of Global Studies and Projects</Translation>
    <Translation Language="pt-PT">Elaboração de Estudos e Projectos Globais</Translation>
  </Translations>
</Dictionary>