<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f4831aab-9cd2-4446-8e26-e7c60f6c019a" Alias="Forms.Contact.Services.SupportPreparationStudiesProjects" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Support for the Preparation of Studies and Projects</Translation>
    <Translation Language="pt-PT">Apoio à Elaboração de Estudos e Projectos</Translation>
  </Translations>
</Dictionary>