<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97102a42-b866-48cd-909e-2237c7ed8333" Alias="Forms.Contact.Services.SimulationAndModeling" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Simulation and Modeling</Translation>
    <Translation Language="pt-PT">Simulação e Modelação</Translation>
  </Translations>
</Dictionary>