<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4536012a-9bb4-446b-b64e-abdc0e8c2309" Alias="Forms.Contact.Services.EnvironmentalGeology" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Environmental Geology</Translation>
    <Translation Language="pt-PT">Geologia Ambiental</Translation>
  </Translations>
</Dictionary>