<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f3187cac-99f2-475a-9da8-585bc49bd7b9" Alias="Forms.Contact.Services.Fieldwork" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Fieldwork</Translation>
    <Translation Language="pt-PT">Trabalhos de Campo</Translation>
  </Translations>
</Dictionary>