<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b3e57d9-5c38-4115-bf20-c53e46e5fcde" Alias="Forms.Contact.Services.Training" Level="3">
  <Info>
    <Parent>Forms.Contact.Services</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Training</Translation>
    <Translation Language="pt-PT">Formação</Translation>
  </Translations>
</Dictionary>