<?xml version="1.0" encoding="utf-8"?>
<Domain Key="6c870c29-0000-0000-0000-000000000000" Alias="*1125">
  <Info>
    <IsWildcard>true</IsWildcard>
    <Language>en-US</Language>
    <Root Key="60a29f89-4ada-4027-b26a-1ad62fe28a42">/Coming Soon</Root>
    <SortOrder>-1</SortOrder>
  </Info>
</Domain>