<?xml version="1.0" encoding="utf-8"?>
<Media Key="15749e63-68e6-408c-9c72-ff5eb4053884" Alias="02" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T16:00:09</CreateDate>
    <NodeName Default="02" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwphifpg/02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>