<?xml version="1.0" encoding="utf-8"?>
<Media Key="095025b5-6fb5-4679-b23e-a7aa1c31b868" Alias="05" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T16:01:49</CreateDate>
    <NodeName Default="05" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wmsfacnv/05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>