<?xml version="1.0" encoding="utf-8"?>
<Media Key="e25f4762-e4ed-4237-9f45-75984e3efa99" Alias="AREA 3" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/AREA3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-27T01:55:34</CreateDate>
    <NodeName Default="AREA 3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mrdf5yxn/area-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>