<?xml version="1.0" encoding="utf-8"?>
<Media Key="10060754-3261-4958-bf09-c591bfe8059a" Alias="AREA 4" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/AREA4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-27T01:55:33</CreateDate>
    <NodeName Default="AREA 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kidbmedb/area-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>