<?xml version="1.0" encoding="utf-8"?>
<Media Key="13d459c6-3016-4f70-af79-83d3402e3fa6" Alias="Classificacao Certificacao Ambiental V03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ClassificacaoCertificacaoAmbientalV03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T11:32:59</CreateDate>
    <NodeName Default="Classificacao Certificacao Ambiental V03" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ybmnieyw/classificacao_certificacao_ambiental_v03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>