<?xml version="1.0" encoding="utf-8"?>
<Media Key="dff1220a-58a8-42a8-b93c-a43b670766a7" Alias="Digestor" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/Digestor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T16:22:25</CreateDate>
    <NodeName Default="Digestor" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bqrpdx3i/digestor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>