<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e461348-20e7-4678-9820-e3203e67c5c2" Alias="EE Alçado 3A" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/EEAlcado3A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-10T15:14:37</CreateDate>
    <NodeName Default="EE Alçado 3A" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jyjfmdxh/ee-alçado_3a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>