<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ed95af4-0a07-44c2-95e1-bf9950fbc463" Alias="EE Cam Valvulas" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/EECamValvulas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-10T15:15:06</CreateDate>
    <NodeName Default="EE Cam Valvulas" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4jnnthqh/ee_cam_valvulas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>