<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9535aca-0c4d-4770-81bd-374ba7ec5ba9" Alias="EE Poço 1" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/EEPoco1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-10T15:15:24</CreateDate>
    <NodeName Default="EE Poço 1" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zrnfhwkn/ee_poço_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>