<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bf70237-f5c4-44a5-85ad-8fd7f70fbff4" Alias="Elaboracao Estudos Projectos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ElaboracaoEstudosProjectos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T11:26:35</CreateDate>
    <NodeName Default="Elaboracao Estudos Projectos" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gebppc4e/elaboracao_estudos_projectos.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>