<?xml version="1.0" encoding="utf-8"?>
<Media Key="392a2883-db11-4d46-a4f3-3b065446e620" Alias="Formacao" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Formacao</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T13:45:57</CreateDate>
    <NodeName Default="Formacao" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/quucuoir/formacao.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>