<?xml version="1.0" encoding="utf-8"?>
<Media Key="f21bbfa7-09ab-46e5-bd9b-a965289f513a" Alias="Modelacao Sistemas Ambientais" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ModelacaoSistemasAmbientais</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T11:23:07</CreateDate>
    <NodeName Default="Modelacao Sistemas Ambientais" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ug5bx2vl/modelacao_sistemas_ambientais.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>