<?xml version="1.0" encoding="utf-8"?>
<Media Key="1424667b-4422-453e-834b-9a1345051a8d" Alias="newMedia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-27T01:55:24</CreateDate>
    <NodeName Default="newMedia" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>