<?xml version="1.0" encoding="utf-8"?>
<Media Key="f04e2101-dfb9-4fee-b39e-d485e7648db4" Alias="Panoramica2" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/Panoramica2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T16:17:18</CreateDate>
    <NodeName Default="Panoramica2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a2qf32fz/panoramica2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>