<?xml version="1.0" encoding="utf-8"?>
<Media Key="effbdfd2-af2d-4381-a9d1-063fc015e9b8" Alias="PERFIL 2" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/PERFIL2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-27T01:55:33</CreateDate>
    <NodeName Default="PERFIL 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0tppx1zn/perfil-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>