<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b2cab63-0acd-40e1-9d96-4cd75b57f709" Alias="PERFIL 1" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/PERFIL1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-27T01:55:34</CreateDate>
    <NodeName Default="PERFIL 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwvdy44n/perfil-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>