<?xml version="1.0" encoding="utf-8"?>
<Media Key="39ab43e7-95c4-4732-b80a-626b4a8f3ad7" Alias="PERFIL 3" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/PERFIL3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-27T01:55:33</CreateDate>
    <NodeName Default="PERFIL 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2fblwooe/perfil-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>