<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fd983c2-a0db-4c70-b852-54ca581d8f20" Alias="Prod Lamas" Level="2">
  <Info>
    <Parent Key="1424667b-4422-453e-834b-9a1345051a8d">newMedia</Parent>
    <Path>/newMedia/ProdLamas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T16:21:14</CreateDate>
    <NodeName Default="Prod Lamas" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ysbntd41/prod_lamas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>