<?xml version="1.0" encoding="utf-8"?>
<Media Key="823212b1-a998-4bf0-b028-3cd4c8467661" Alias="Revisaoprojectos 3E" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Revisaoprojectos3E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-19T00:12:19</CreateDate>
    <NodeName Default="Revisaoprojectos 3E" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w2jdfauy/revisaoprojectos_3e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>