<?xml version="1.0" encoding="utf-8"?>
<Media Key="237377a9-cd15-4e55-8dd9-fcf855128fa9" Alias="Revisao Estudos Projectos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RevisaoEstudosProjectos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T11:30:19</CreateDate>
    <NodeName Default="Revisao Estudos Projectos" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v31hgiyv/revisao_estudos_projectos.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>