<?xml version="1.0" encoding="utf-8"?>
<Media Key="38fa4702-094e-4d98-9649-2c4c624c19a8" Alias="Simulacaomodelacao 3E" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Simulacaomodelacao3E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-19T00:12:20</CreateDate>
    <NodeName Default="Simulacaomodelacao 3E" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ardpuoco/simulacaomodelacao_3e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>