<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4550b87-5658-4b75-b259-90fad3ca2a76" Alias="Trabalho Campo V02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrabalhoCampoV02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-14T13:42:52</CreateDate>
    <NodeName Default="Trabalho Campo V02" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qefflvcy/trabalho_campo_v02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>