<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e854860-af9c-4269-b051-1025f569863d" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="67b41068-1b78-48f2-8b8f-0e6615c30aad">Home</Parent>
    <Path>/Home/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2024-06-21T06:06:34</CreateDate>
    <NodeName Default="Contacts">
      <Name Culture="en-us">Contacts</Name>
      <Name Culture="pt-pt">Contactos</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="5022f7f2-3430-487c-a39f-71e32d1a50e6">Contacts</Template>
  </Info>
  <Properties>
    <contactAddress>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Rua Padre Américo, 10A Escritório 1<br>1600-548 Lisboa, Portugal</p>\n<p><a rel=\"noopener\" href=\"https://maps.app.goo.gl/gzfHCEdhMji8Zb5NA\" target=\"_blank\" class=\"text-adductioOrange\">View on maps</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Rua Padre Américo, 10A Escritório 1<br>1600-548 Lisboa, Portugal</p>\n<p><a rel=\"noopener\" href=\"https://maps.app.goo.gl/gzfHCEdhMji8Zb5NA\" target=\"_blank\" class=\"text-adductioOrange\">Ver no mapa</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactAddress>
    <contactForm>
      <Value><![CDATA[1665fe9c-0ec9-481a-af4b-49b6781c4080]]></Value>
    </contactForm>
    <contactFormTitle>
      <Value Culture="en-us"><![CDATA[Contact us]]></Value>
      <Value Culture="pt-pt"><![CDATA[Contacte-nos]]></Value>
    </contactFormTitle>
    <contactText>
      <Value Culture="en-us"><![CDATA[info@adduct.io]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p><a href=\"mailto:info@adduct.io\">info@adduct.io</a><br><a href=\"tel:+351217147423\" title=\"217 147 423\">217 147 423</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactText>
    <formActive>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="pt-pt"><![CDATA[1]]></Value>
    </formActive>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Contacts]]></Value>
      <Value Culture="pt-pt"><![CDATA[Contactos]]></Value>
    </metaTitle>
    <privacyText>
      <Value Culture="en-us"><![CDATA[Your privacy is our priority. Your data will be processed and stored by Adductio - Ambiente e Informática, Lda., legal entity no. 503660930, and with headquarters at Rua João de Freitas Branco 32, 4º Direito, 1500-359 Lisbon, under the terms and conditions of legislation in force and in compliance with the General Data Protection Regulation. You may, at any time, exercise your rights to object, access, rectify, delete and limit the processing of personal data provided, by emailing the address: info@adduct.io]]></Value>
      <Value Culture="pt-pt"><![CDATA[A sua privacidade é a nossa prioridade. Os seus dados vão ser tratados e armazenados pela Adductio - Ambiente e Informática, Lda., pessoa colectiva n.º 503660930, e com sede na Rua João de Freitas Branco 32, 4º Direito, 1500-359 Lisboa, nos termos e condições da legislação em vigor e em cumprimento do Regulamento Geral de Proteção de Dados. Poderá, a qualquer momento, exercer os direitos de oposição, acesso, retificação, eliminação e limitação ao tratamento dos dados pessoais disponibilizados, dirigindo-se por e-mail ao endereço: info@adduct.io]]></Value>
    </privacyText>
  </Properties>
</Content>