<?xml version="1.0" encoding="utf-8"?>
<Content Key="73f421d5-0efd-47a5-bbaa-9a80fa3e33b6" Alias="Costing" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/Costing</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2025-07-15T16:11:35</CreateDate>
    <NodeName Default="Costing">
      <Name Culture="pt-pt">Costing</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="false">
      <Published Culture="pt-pt">false</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>