<?xml version="1.0" encoding="utf-8"?>
<Content Key="9190a20c-5b97-4f4d-86fd-5e4f58c91ca1" Alias="Engineering Support Services" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/EngineeringSupportServices</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:25:12</CreateDate>
    <NodeName Default="Engineering Support Services">
      <Name Culture="en-us">Engineering Support Services</Name>
      <Name Culture="pt-pt">Serviços de Apoio</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Construction Management, Fieldwork, Drawing, Measurement, Specialties (Architecture, Structures, Geotechnics...)]]></Value>
      <Value Culture="pt-pt"><![CDATA[Gestão da Construção, Trabalhos de Campo, Desenho, Medição, Especialidades (Arquitectura, Estruturas, Geotecnia...)]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Engineering Support Services]]></Value>
      <Value Culture="pt-pt"><![CDATA[Serviços de Apoio]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "b1f17a41-c953-43c8-a0d0-d7feb34265ce",
    "mediaKey": "5496f39e-688b-4168-9d5a-9bf33642ca94"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Construction Management, Fieldwork, Drawing, Measurement, Specialties (Architecture, Structures, Geotechnics...)]]></Value>
      <Value Culture="pt-pt"><![CDATA[Gestão da Construção, Trabalhos de Campo, Desenho, Medição, Especialidades (Arquitectura, Estruturas, Geotecnia...)]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p class=\"MsoNormal\">Engineering Services support...</p>\n<p><span style=\"font-size: 12.0pt; font-family: 'Calibri',sans-serif; mso-fareast-font-family: Calibri; mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;\" lang=\"EN-US\">Construction Management, Fieldwork, Drawing, Measurement, Specialties (Architecture, Structures, Geotechnics...)</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p class=\"MsoNormal\"><span style=\"font-size: 12.0pt;\">Serviços de Apoio à Engenharia...</span></p>\n<p><span style=\"font-size: 12.0pt; font-family: 'Calibri',sans-serif; mso-fareast-font-family: Calibri; mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: PT; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;\">Gestão da Construção, Trabalhos de Campo, Desenho, Medição, Especialidades (Arquitectura, Estruturas, Geotecnia...)</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "2f7627e2-283a-49d2-b5e6-25c5add18e6d",
    "mediaKey": "d7ae5e77-8a97-4898-b01a-ce47609dfdfc"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>