<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ea0b7c-ed66-4168-9e8c-b3a9892cd084" Alias="Environmental Geology" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/EnvironmentalGeology</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:28:55</CreateDate>
    <NodeName Default="Environmental Geology">
      <Name Culture="en-us">Environmental Geology</Name>
      <Name Culture="pt-pt">Geologia Ambiental</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[A specialized area highlighted in this presentation due to its importance.]]></Value>
      <Value Culture="pt-pt"><![CDATA[Uma área especializada que se decidiu destacar nesta apresentação, dada a sua importância.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Environmental Geology ]]></Value>
      <Value Culture="pt-pt"><![CDATA[Geologia Ambiental]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "bc0d2005-0abc-46c3-860e-603054290131",
    "mediaKey": "a522f383-7045-4fb8-8afe-5ed56f0ba35b"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[A specialized area highlighted in this presentation due to its importance,]]></Value>
      <Value Culture="pt-pt"><![CDATA[Uma área especializada que se decidiu destacar nesta apresentação, dada a sua importância.]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776; mso-ansi-language: EN-GB;\" lang=\"EN-GB\">Human activities interact with geological processes, and these interactions must be managed sustainably. Geology is a particularly important science in the analysis of environmental issues and thus stands out as an activity of Adductio. It addresses topics such as the protection of water resources, seismology (prevention and mitigation of effects), management of natural terrestrial and marine systems, remediation of contaminated areas, analysis and prevention of landslides, creation of risk maps, disaster alert systems, etc.</span></p>\n<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776; mso-ansi-language: EN-GB;\" lang=\"EN-GB\">In many circumstances, this specialty requires fieldwork, which Adductio provides through recognized and accredited external entities.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776;\">As atividades humanas interagem com os processos geológicos e essas interações devem ser geridas de forma sustentável. A Geologia é uma ciência especialmente importante na análise de questões ambientais e por isso se individualiza como atividade da Adductio. Aborda temas como a proteção de recursos hídricos, sismologia (prevenção e mitigação de efeitos), gestão de sistemas terrestres e marítimos naturais, remediação de zonas contaminadas, análise e prevenção de deslizamentos de terras, criação de mapas de risco, sistemas de alerta em desastres naturais, etc.</span></p>\n<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776;\">Em muitas circunstâncias esta especialidade requer trabalho de campo, que a Adductio fornece através de entidade externa reconhecida e credenciada.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "47dcd7e1-24b2-4f8a-9696-3c1355d02653",
    "mediaKey": "0265a703-2206-444c-992b-bf95d95bd089"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>