<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9cfdb0c-5729-4527-8ae7-fbf63186630f" Alias="Field Work" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/FieldWork</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:28:06</CreateDate>
    <NodeName Default="Field Work">
      <Name Culture="en-us">Field Work</Name>
      <Name Culture="pt-pt">Trabalhos de Campo</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Specialized professionals to carry out fieldwork and prepare the respective reports]]></Value>
      <Value Culture="pt-pt"><![CDATA[Profissionais especializados para executar trabalhos de campo e elaborar os respetivos relatórios.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Field Work]]></Value>
      <Value Culture="pt-pt"><![CDATA[Trabalhos de Campo]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "c19a0ce0-a6a9-4deb-bb25-92c9d2260178",
    "mediaKey": "d4550b87-5658-4b75-b259-90fad3ca2a76"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "a065890d-72b5-4486-8017-bb3375f6aaa3",
    "mediaKey": "15749e63-68e6-408c-9c72-ff5eb4053884"
  },
  {
    "key": "5236770f-c190-49cd-8263-947c43351871",
    "mediaKey": "67b51a97-29dd-4c8d-9ea5-e0e89f3daebd"
  },
  {
    "key": "fc016306-db89-49fb-ba1a-45b6529b00a9",
    "mediaKey": "095025b5-6fb5-4679-b23e-a7aa1c31b868"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Specialized professionals to carry out fieldwork and prepare the respective reports.]]></Value>
      <Value Culture="pt-pt"><![CDATA[Profissionais especializados para executar trabalhos de campo e elaborar os respetivos relatórios.]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776; mso-ansi-language: EN-GB;\" lang=\"EN-GB\">Although many studies can be essentially theoretical, most environmental work, particularly projects, rely on fieldwork such as topography, geological and geotechnical surveys, noise measurement, wastewater characterization, water quality characterization in natural water bodies and reservoirs, cadastral survey of infrastructures, etc. </span></p>\n<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776; mso-ansi-language: EN-GB;\" lang=\"EN-GB\">Adductio uses the same teams that participate in its current work to provide support services to other entities and companies.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776;\">Embora muitos estudos possam ser essencialmente teóricos, a maioria dos trabalhos ambientais, nomeadamente projetos, recorrem a trabalhos de campo tais como topografia, sondagens geológicas e geotécnicas, medição de ruído, caracterização de águas residuais, caracterização da qualidade da água em meios hídricos naturais e albufeiras, levantamento cadastral de infraestruturas, etc.</span></p>\n<p style=\"margin-bottom: 12.0pt;\" class=\"MsoNormal\"><span style=\"color: #002776;\">A Adductio utiliza as mesmas equipas que participam no seu trabalho corrente para fornecer serviços de apoio a outras entidades e empresas.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "4dc79930-b34f-4314-9ee0-7c1e5124ca03",
    "mediaKey": "d4550b87-5658-4b75-b259-90fad3ca2a76"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>