<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8c8e0c9-29c8-452b-ba31-744e862882b3" Alias="Formação em BIM" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FormacaoEmBIM</Path>
    <Trashed Parent="67b41068-1b78-48f2-8b8f-0e6615c30aad">true</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2024-08-23T09:48:33</CreateDate>
    <NodeName Default="Formação em BIM">
      <Name Culture="en-us">Formação em BIM</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="23ea232d-d566-49db-a551-b16a21d679ec">Form</Template>
  </Info>
  <Properties>
    <trainingForm>
      <Value Culture="en-us"><![CDATA[b48560f0-cde1-4239-a610-f67e1320f964]]></Value>
    </trainingForm>
  </Properties>
</Content>