.form {

  input[type=text],
  input[type=email],
  input[type=number],
  textarea {
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #6e707f;
    border-radius: 2px;
    padding: 0 16px;
    font-size: 14px;
  }

  textarea {
    height: 120px;
    padding-top: 10px;
    resize: none;
  }
  input[type="checkbox"] {
    //appearance: none;
    display: inline-block;
    background-color: transparent;
    @apply border rounded-sm border-adductioBlue;
    width: 14px;
    height: 14px;
    margin-right: 6px;

    .bg-adductioBlue & {
      @apply border-white;
    }
  }
  select {
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #6e707f;
    border-radius: 2px;
    padding: 0 16px;
    font-size: 14px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%236e707f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
  }
  
  .checkboxlist,
  .radiobuttonlist {
    margin-top: 10px;
    @media screen(lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    }
    
  }

  .btn.primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 120px;
    height: 46px;
    background: #F15A31;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 32px;
    cursor: pointer;
  }

  .umbraco-forms-field {
    @apply mt-4;
  }

  .umbraco-forms-field.agree {
    margin-top: 0;
  }

  .umbraco-forms-hidden {
    display: none;
  }

  p,
  label,
  .field-validation-error {
    @apply text-adductioBlue;
    font-size: 14px;

    .bg-adductioBlue & {
      @apply text-white;
    }
  }

  .field-validation-error {
    display: block;
    margin-top: 4px;
    color: red;
  }

  &.form-training label,
  &.form-training legend {
    color: #2D2B70;
  }

  &.form-training label {
    margin: 0 16px 0 4px;
  }
  &.form-contact {
    .name {
      @apply mt-0;
    }
  }
}

.umbraco-forms-field {
  .form-training & {
    @apply mt-8;
  }
  &.age {
    @apply w-1/2 max-w-24;
    @media screen(lg) {
      width: 10%;
      float: left;
    }
  }
  &.employer,
  &.training {
    @media screen(lg) {
      width: calc(45% - 24px);
      float: left;
      /* margin-left: 24px; */
    }
  }
  &.whatareas {
    @media screen(lg) {
      clear: left;
      .umbraco-forms-legend {
        @apply pt-8;
      }
    }
  }
  &.areasofinterest,
  &.coursesuggestions {
    @apply mt-3;
  }
  &.comments {
    label {
      @apply block text-base mb-2;
    }
  }
}
.umbraco-forms-submitmessage {
  @apply text-adductioBlue text-xl;
}
.bg-adductioBlue .umbraco-forms-submitmessage {
  @apply text-white text-xl;
}